@model HiperAcademia.ViewModels.Conta.SaqueViewModel 
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    @* Utilizar recursos do Razor (aquele trem que ele compartilhou) Ex.: Asp controler e asp action faz a ponte desse trem com o controller*@

@{
    ViewData["Title"] = "Sacar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form asp-controller="Conta" asp-action="Saque" method="post"> @*Esse cara vai linkar com o metodo do controller Controller Conta Metodo Saque*@
    <div class="card">
        <div class="card-body">
            <h4>Sacar</h4>
            <label asp-for="Saldo"></label>R$ <span id="saldo-atual">@Model.Saldo.ToString("N3")</span>
            <div class="form-group">
                <label asp-for="Valor"></label>
                <input asp-for="Valor" class="form-control" />
                <span class = "text-danger"asp-validation-for="Valor"></span>
            </div>
            <button type="submit" class="btn btn-primary">Sacar</button>
        </div>
    </div>
</form>